html {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30%, rgba(1,56,20,1) 40%, rgba(0,0,0,1) 45%, rgba(1,56,20,1) 50%, rgba(0,0,0,1) 55%, rgba(1,56,20,1) 60%, rgba(0,0,0,1) 70%, rgba(6,68,0,1) 100%); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.title-box{
    border: 1px solid #b0ffc5;
    width: 100%;
    margin: 1em;
    text-align: center;
    background-color: #b0ffc5;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.text-box{
    width: 60%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    text-indent: 2em;
    text-align: center;
    color: black;
    background-color: rgb(240, 209, 192);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
.border{
    display: flex;
    justify-content: center;
    width: 50%;
    height: auto;
    margin: auto;
    padding: 0.2em;
    background-color: white;
}
.text{
    line-height: 3;
}
.button-box {
    display: flex;
    justify-content: center;
    margin: 2em;
}
.button {
    margin: auto;
    background-color: #330101;
    border: 2px solid #330101;
    color: whitesmoke;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.button:hover {
    padding: 0.5em 3em;
    cursor: pointer;
    background-color: #00b3ff;
    border: 2px solid #00b3ff;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0, 179, 255, 0.24), 0 17px 50px 0 rgba(0, 179, 255, 0.19);
}